@import "~normalize.css"

// Config variables
$blue: #0a2463 // rgb(10,36,99)
$white: #FBFFFE // rgb(251,255,254)
$black: #1A1918 // rgb(26,25,24)
$black-leather: #2C302E // rgb(44,48,46)
$dark-red: #880000 // rgb(136,0,0)
$font-family-sans-serif: "Open Sans", -apple-system,system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$font-size-lg: 1.333rem
$font-size-sm: 1rem
$font-size-xs: 0.75rem
$font-weight-normal: 400
$font-weight-bold: 700
$line-height-base: 1.5
$h1-font-size: 3.157rem
$h2-font-size: 2.369rem
$h3-font-size: 1.777rem
$h4-font-size: 1.333rem
$h5-font-size: 1rem
$h6-font-size: 1rem

//globals
body
  text-rendering: optimizeLegibility
  font-size: 16px
  line-height: 1.5
  font-family: $font-family-sans-serif
  font-weight: 400
  min-width: 100%
  min-height: 100%

section
  padding-left: .5rem
  padding-right: .5rem
  &.no
    padding: 0