@import "~normalize.css"

// Config variables
$blue: #0a2463 // rgb(10,36,99)
$white: #FBFFFE // rgb(251,255,254)
$black: #1A1918 // rgb(26,25,24)
$black-leather: #2C302E // rgb(44,48,46)
$dark-red: #880000 // rgb(136,0,0)

//globals
body
  font-size: 16px
  width: 100%
  height: 100%

//navbar
.header
  width: 100%
  height: 100%

.nav
  background: tomato
  display: flex
  align-items: center

.navbar

  &__menu
    width: 100%
    padding: 1rem
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 1px
    background: white
  &__link img
    width: 16.18vw
    height: auto

//icons
.icon img
  width: 100px
  height: 100px